<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script src="/files/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">


    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>


<div class="container">
<form class="form-signin" id="form" name="form">
    <h1>შეიყვანეთ ახალი პაროლი</h1>

        <input id="password" name="newPassword" type="password" class="form-control" placeholder="Password" required/>

        <input id="matchPassword" type="password"  class="form-control" placeholder="Confirm Password" required/>


        <div id="globalError" style="display:none">error</div>
        <button type="submit" onclick="savePass(event)">submit</button>


</form>
</div>
</body>


    <script>
    console.log("ukacravad?")
var serverContext = window.location.origin;

function savePass(event){
console.log("shemovedi")
    event.preventDefault();
    console.log($("#password").val());
    console.log($("#password").val().toUpperCase());

        if($("#password").val() != $("#matchPassword").val()){
        console.log("araswori matching password")
            $("#globalError").show().html('<p style="color:red">პაროლი არ ემთხვევა </p>');
            return;
        }

    var formData= $('#form').serialize();
    console.log(formData, ' ++++');
    formData += "&token=" + new URLSearchParams(window.location.search).get('token')
    $.post(serverContext + "/savePassword",formData ,function(data){

        window.location.href = serverContext + "/login?message="+data.message;
    })

}
</script>
</html>
